<div class="container px-5 px-sm-0">
  <div class="text-success">
 <%= flash[:notice] %>
 </div>
  <div class="row">
      <!--画面右側-------------------------------------->
     <div class="col-md-3">
       <!--部分テンプレート-->
       <%= render 'books/list', book: @book_new , user: @user%>
       <!--部分テンプレート-->
      </div>
      <!--画面左側------------------------------------------>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
          <table class="table">
              <tbody>
               <tr> 
                 <td><%= link_to user_path(@user.id) do %><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "attachment user profile_image fallback", fallback: "no_image.jpg" %><br><%= @user.name %><% end %></td>
                 <td><%= link_to book_path(@book.id) do %><%= @book.title %><% end  %></td>
                 <td><%= @book.body %></td>
                 <% if @user.id == current_user.id %>
                 <td><%= link_to "Edit", edit_book_path(@book.id) ,class: "btn btn-sm btn-success" %></td>
                  <td><%= link_to "Destroy", book_path(@book.id) ,class: "btn btn-sm btn-danger",method: :delete, "data-confirm" => "本当に消しますか?" %></td>
                 <% end %>
               </tr>
               
              </tbody>
          </table>
      </div>
  </div>  <!-- この行を追加 -->
</div>    <!-- この行を追加 -->